doctype html
html(lang="en")
  block vars
    - var page_names = ['lux-nox']
    -
      var scheme = {
        'Solarized': {
          base03  : { name: 'Solarized Base03'  , bg_class: 'a-bc-s03' , fg_class: 'a-c-s03' }
        , base02  : { name: 'Solarized Base02'  , bg_class: 'a-bc-s02' , fg_class: 'a-c-s02' }
        , base01  : { name: 'Solarized Base01'  , bg_class: 'a-bc-s01' , fg_class: 'a-c-s01' }
        , base00  : { name: 'Solarized Base00'  , bg_class: 'a-bc-s00' , fg_class: 'a-c-s00' }
        , base0   : { name: 'Solarized Base0'   , bg_class: 'a-bc-s0'  , fg_class: 'a-c-s0'  }
        , base1   : { name: 'Solarized Base1'   , bg_class: 'a-bc-s1'  , fg_class: 'a-c-s1'  }
        , base2   : { name: 'Solarized Base2'   , bg_class: 'a-bc-s2'  , fg_class: 'a-c-s2'  }
        , base3   : { name: 'Solarized Base3'   , bg_class: 'a-bc-s3'  , fg_class: 'a-c-s3'  }
        , red     : { name: 'Solarized Red'     , bg_class: 'a-bc-sr'  , fg_class: 'a-c-sr'  }
        , orange  : { name: 'Solarized Orange'  , bg_class: 'a-bc-so'  , fg_class: 'a-c-so'  }
        , yellow  : { name: 'Solarized Yellow'  , bg_class: 'a-bc-sy'  , fg_class: 'a-c-sy'  }
        , green   : { name: 'Solarized Green'   , bg_class: 'a-bc-sg'  , fg_class: 'a-c-sg'  }
        , cyan    : { name: 'Solarized Cyan'    , bg_class: 'a-bc-sc'  , fg_class: 'a-c-sc'  }
        , blue    : { name: 'Solarized Blue'    , bg_class: 'a-bc-sb'  , fg_class: 'a-c-sb'  }
        , violet  : { name: 'Solarized Violet'  , bg_class: 'a-bc-sv'  , fg_class: 'a-c-sv'  }
        , magenta : { name: 'Solarized Magenta' , bg_class: 'a-bc-sm'  , fg_class: 'a-c-sm'  }
        }
      , 'Lunarized': {
          base03  : { name: 'Lunarized Base03'  , bg_class: 'a-bc-l03' , fg_class: 'a-c-l03' }
        , base02  : { name: 'Lunarized Base02'  , bg_class: 'a-bc-l02' , fg_class: 'a-c-l02' }
        , base01  : { name: 'Lunarized Base01'  , bg_class: 'a-bc-l01' , fg_class: 'a-c-l01' }
        , base00  : { name: 'Lunarized Base00'  , bg_class: 'a-bc-l00' , fg_class: 'a-c-l00' }
        , base0   : { name: 'Lunarized Base0'   , bg_class: 'a-bc-l0'  , fg_class: 'a-c-l0'  }
        , base1   : { name: 'Lunarized Base1'   , bg_class: 'a-bc-l1'  , fg_class: 'a-c-l1'  }
        , base2   : { name: 'Lunarized Base2'   , bg_class: 'a-bc-l2'  , fg_class: 'a-c-l2'  }
        , base3   : { name: 'Lunarized Base3'   , bg_class: 'a-bc-l3'  , fg_class: 'a-c-l3'  }
        , cyan    : { name: 'Lunarized Cyan'    , bg_class: 'a-bc-lc'  , fg_class: 'a-c-lc'  }
        , blue    : { name: 'Lunarized Blue'    , bg_class: 'a-bc-lb'  , fg_class: 'a-c-lb'  }
        , indigo  : { name: 'Lunarized Indigo'  , bg_class: 'a-bc-li'  , fg_class: 'a-c-li'  }
        , violet  : { name: 'Lunarized Violet'  , bg_class: 'a-bc-lv'  , fg_class: 'a-c-lv'  }
        , red     : { name: 'Lunarized Red'     , bg_class: 'a-bc-lr'  , fg_class: 'a-c-lr'  }
        , orange  : { name: 'Lunarized Orange'  , bg_class: 'a-bc-lo'  , fg_class: 'a-c-lo'  }
        , yellow  : { name: 'Lunarized Yellow'  , bg_class: 'a-bc-ly'  , fg_class: 'a-c-ly'  }
        , green   : { name: 'Lunarized Green'   , bg_class: 'a-bc-lg'  , fg_class: 'a-c-lg'  }
        }
      }
      /*
       * Returns a set of colors for a theme.
       * @param args - an object with four properties:
       *               1. `mode` - ['dark'|'light']
       *               2. `fg_scheme` - ['Solarized'|'Lunarized']
       *               3. `bg_scheme` - ['Solarized'|'Lunarized']
       *               4. `ac_scheme` - ['Solarized'|'Lunarized']
       * @returns - an object with a number of colors corresponding to the theme.
       */
      function createTheme(args) {
        var bases = {
          text : {
            ground: 'fg'
          , base: {
              dark:  'base0'
            , light: 'base00'
            }
          }
        , emph : {
            ground: 'fg'
          , base: {
              dark:  'base1'
            , light: 'base01'
            }
          }
        , deemph : {
            ground: 'fg'
          , base: {
              dark:  'base01'
            , light: 'base1'
            }
          }
        , hilite : {
            ground: 'bg'
          , base: {
              dark:  'base02'
            , light: 'base2'
            }
          }
        , bg : {
            ground: 'bg'
          , base: {
              dark:  'base03'
            , light: 'base3'
            }
          }
        }
        var theme = {}
        for (var sch in scheme) {
          theme[sch] = {}
          theme[sch].dark = {}
          theme[sch].light = {}
          for (var mod of ['dark','light']) {
            for (var comp in bases) {
              theme[sch][mod][comp] = {
                class: scheme[sch][bases[comp].base[mod]][bases[comp].ground+'_class']
              , name: scheme[sch][bases[comp].base[mod]].name
              }
            }
          }
          theme[sch].accent = {}
          for (var acc of ['red','orange','yellow','green','cyan','blue']) {
            theme[sch].accent[acc] = {
              class: scheme[sch][acc].fg_class
            , name:  scheme[sch][acc].name
            }
          }
          var purp1 = scheme[sch].indigo  || scheme[sch].violet
          var purp2 = scheme[sch].magenta || scheme[sch].violet
          theme[sch].accent.purple1 = {
            class: purp1.fg_class
          , name:  purp1.name
          }
          theme[sch].accent.purple2 = {
            class: purp2.fg_class
          , name:  purp2.name
          }
        }
        return {
          //- pay careful attention to the [bg|fg|ac]_scheme here
          text    : theme[args.fg_scheme][args.mode].text
        , emph    : theme[args.fg_scheme][args.mode].emph
        , deemph  : theme[args.fg_scheme][args.mode].deemph
        , hilite  : theme[args.bg_scheme][args.mode].hilite
        , bg      : theme[args.bg_scheme][args.mode].bg
        , red     : theme[args.ac_scheme].accent.red
        , orange  : theme[args.ac_scheme].accent.orange
        , yellow  : theme[args.ac_scheme].accent.yellow
        , green   : theme[args.ac_scheme].accent.green
        , cyan    : theme[args.ac_scheme].accent.cyan
        , blue    : theme[args.ac_scheme].accent.blue
        , purple1 : theme[args.ac_scheme].accent.purple1
        , purple2 : theme[args.ac_scheme].accent.purple2
        }
      //- -
        var theme = {
          'Solarized': {
            dark: {
              text   : { class: scheme.Solarized.base0.fg_class  , name: scheme.Solarized.base0.name  }
            , emph   : { class: scheme.Solarized.base1.fg_class  , name: scheme.Solarized.base0.name  }
            , deemph : { class: scheme.Solarized.base01.fg_class , name: scheme.Solarized.base1.name  }
            , hilite : { class: scheme.Solarized.base02.bg_class , name: scheme.Solarized.base02.name }
            , bg     : { class: scheme.Solarized.base03.bg_class , name: scheme.Solarized.base03.name }
            }
          , light: {
              text   : { class: scheme.Solarized.base00.fg_class , name: scheme.Solarized.base00.name }
            , emph   : { class: scheme.Solarized.base01.fg_class , name: scheme.Solarized.base01.name }
            , deemph : { class: scheme.Solarized.base1.fg_class  , name: scheme.Solarized.base1.name  }
            , hilite : { class: scheme.Solarized.base2.bg_class  , name: scheme.Solarized.base2.name  }
            , bg     : { class: scheme.Solarized.base3.bg_class  , name: scheme.Solarized.base3.name  }
            }
          , accent: {
              red     : { class: scheme.Solarized.red.fg_class     , name: scheme.Solarized.red.name     }
            , orange  : { class: scheme.Solarized.orange.fg_class  , name: scheme.Solarized.orange.name  }
            , yellow  : { class: scheme.Solarized.yellow.fg_class  , name: scheme.Solarized.yellow.name  }
            , green   : { class: scheme.Solarized.green.fg_class   , name: scheme.Solarized.green.name   }
            , cyan    : { class: scheme.Solarized.cyan.fg_class    , name: scheme.Solarized.cyan.name    }
            , blue    : { class: scheme.Solarized.blue.fg_class    , name: scheme.Solarized.blue.name    }
            , violet  : { class: scheme.Solarized.violet.fg_class  , name: scheme.Solarized.violet.name  }
            , magenta : { class: scheme.Solarized.magenta.fg_class , name: scheme.Solarized.magenta.name }
            }
          }
        , 'Lunarized': {
            dark: {
              text   : { class: scheme.Lunarized.base0.fg_class  , name: scheme.Lunarized.base0.name  }
            , emph   : { class: scheme.Lunarized.base1.fg_class  , name: scheme.Lunarized.base0.name  }
            , deemph : { class: scheme.Lunarized.base01.fg_class , name: scheme.Lunarized.base1.name  }
            , hilite : { class: scheme.Lunarized.base02.bg_class , name: scheme.Lunarized.base02.name }
            , bg     : { class: scheme.Lunarized.base03.bg_class , name: scheme.Lunarized.base03.name }
            }
          , light: {
              text   : { class: scheme.Lunarized.base00.fg_class , name: scheme.Lunarized.base00.name }
            , emph   : { class: scheme.Lunarized.base01.fg_class , name: scheme.Lunarized.base01.name }
            , deemph : { class: scheme.Lunarized.base1.fg_class  , name: scheme.Lunarized.base1.name  }
            , hilite : { class: scheme.Lunarized.base2.bg_class  , name: scheme.Lunarized.base2.name  }
            , bg     : { class: scheme.Lunarized.base3.bg_class  , name: scheme.Lunarized.base3.name  }
            }
          , accent: {
              cyan   : { class: scheme.Lunarized.cyan.fg_class   , name: scheme.Lunarized.cyan.name   }
            , blue   : { class: scheme.Lunarized.blue.fg_class   , name: scheme.Lunarized.blue.name   }
            , indigo : { class: scheme.Lunarized.indigo.fg_class , name: scheme.Lunarized.indigo.name }
            , violet : { class: scheme.Lunarized.violet.fg_class , name: scheme.Lunarized.violet.name }
            , red    : { class: scheme.Lunarized.red.fg_class    , name: scheme.Lunarized.red.name    }
            , orange : { class: scheme.Lunarized.orange.fg_class , name: scheme.Lunarized.orange.name }
            , yellow : { class: scheme.Lunarized.yellow.fg_class , name: scheme.Lunarized.yellow.name }
            , green  : { class: scheme.Lunarized.green.fg_class  , name: scheme.Lunarized.green.name  }
            }
          }
        }
      }
  head
    title= page_names.reduceRight(function (a,b) { return a + ' | ' + b })
    meta(charset="utf-8")
    meta(name="author" content="Chris Harvey")
    meta(name="description" content="Solarized and Lunaried colors for any project.")
    link(rel="stylesheet" href="#{home_path||''}node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="#{home_path||''}lux-nox.min.css")
    link(rel="stylesheet" href="#{home_path||''}doc/styles/doc.css")
  body
    block body
      main
        block main
          header
            block header
              h1!= page_names.reduce(function (a, b) { return a + ' &mdash; ' + b })
      script(src="//code.jquery.com/jquery-1.12.0.min.js")
