extends ../layout.tpl.jade

block append vars
  - page_names.push('Accessibility')
  - home_path = '../'

block append main
  section
    -
      var rows = [
        scheme.Solarized.base01
      , scheme.Solarized.base00
      , scheme.Solarized.base0
      , scheme.Solarized.base1
      , scheme.Solarized.red
      , scheme.Solarized.orange
      , scheme.Solarized.yellow
      , scheme.Solarized.green
      , scheme.Solarized.cyan
      , scheme.Solarized.blue
      , scheme.Solarized.violet
      , scheme.Solarized.magenta
      , scheme.Lunarized.base01
      , scheme.Lunarized.base00
      , scheme.Lunarized.base0
      , scheme.Lunarized.base1
      , scheme.Lunarized.cyan
      , scheme.Lunarized.blue
      , scheme.Lunarized.indigo
      , scheme.Lunarized.violet
      , scheme.Lunarized.red
      , scheme.Lunarized.orange
      , scheme.Lunarized.yellow
      , scheme.Lunarized.green
      ]
      var cols = [
        scheme.Solarized.base03
      , scheme.Solarized.base02
      , scheme.Solarized.base2
      , scheme.Solarized.base3
      , scheme.Lunarized.base03
      , scheme.Lunarized.base02
      , scheme.Lunarized.base2
      , scheme.Lunarized.base3
      ]
      function dataRating(ratio) {
        if (ratio < 3.0)                 return 1
        if (3.0 <= ratio && ratio < 4.5) return 2
        if (4.5 <= ratio && ratio < 7.0) return 3
        if (7.0 <= ratio)                return 4
      }
    h2 Table of Contrast Ratios
    table.-w-1o1
      caption
        p.
          A demonstration of background colors and foreground colors.
          For brevity, the only background colors are Bases 03, 02, 2, and 3; and
          the only foreground colors are Bases 01, 00, 0, and 1, along with all accent colors.
          #[a(href="#contrast-ratio-table") Contrast ratios] are shown in each cell.
      colgroup
      colgroup
        each color in cols.slice(0,4)
          col(class=color.bg_class)
      colgroup
        each color in cols.slice(4)
          col(class=color.bg_class)
      thead
        tr
          td
        each color in cols
          th(scope="col")= color.name
      mixin tableRow(fg_color)
        - var fg_color_obj = Color.newColorHexString(fg_color.code)
        tr(class=fg_color.fg_class)
          th(scope="row")= fg_color.name
          each bg_color in cols
            - var bg_color_obj = Color.newColorHexString(bg_color.code)
            - var ratio = Math.round(fg_color_obj.contrastRatio(bg_color_obj)*100)/100
            td(data-rating=dataRating(ratio))= ratio
      tbody
        each fg_color in rows.slice(0,12)
          +tableRow(fg_color)
      tbody
        each fg_color in rows.slice(12)
          +tableRow(fg_color)
    table#contrast-ratio-table
      caption A summary of #[a(href="http://leaverou.github.io/contrast-ratio/") contrast ratios].
      thead
        tr
          th(scope="col") Contrast Ratio
          th(scope="col") Level
          th(scope="col") Keyword
          th(scope="col") Description
      tbody
        tr
          td &#x005b;1, 3.0&#x0029;
          td 1
          td bad.
          td Fails #[a(href="https://www.w3.org/TR/WCAG/#visual-audio-contrast") WCAG 2.0]
        tr
          td &#x005b;3.0, 4.5&#x0029;
          td 2
          td okay&hellip;
          td Passes AA level for large text#[sup: a.Rf#rf-large1(href="#fn-large1") 1]
        tr
          td &#x005b;4.5, 7.0&#x0029;
          td 3
          td good!
          td Passes AA level for any size text and AAA for large text#[sup: a.Rf#rf-large2(href="#fn-large2") 2]
        tr
          td &#x005b;7.0, 21&#x005d;
          td 4
          td great!!
          td Passes AAA level for any size text
    footer: ul.c-ListFootnotes: li
      sup
        a.Fn#fn-large1(href="#rf-large1") 1
        a.Fn#fn-large2(href="#rf-large2") 2
      |  above 18pt (24px), or above 14pt (19px) and bold
  section
    h2 Conclusions
    p.
      When choosing Solarized/Lunarized colors in creating a color scheme, you want to choose
      the set of colors that has the best contrast ratio, on average. This is different based
      on whether you want a dark or light background, and whether you are choosing
      base colors or accent colors. Let&rsquo;s look at each case separately.
      We will only consider the Base03 and Base3 backgrounds (not the respective
      Base02 and Base2 highlights).
    section
      h3 Dark Mode
      section
        h4 Dark Mode Bases
        p.
          If you want a dark background (either Solarized Base03 or Lunarized Base03),
          you know that whatever bases you use will be
        ul
          li Base01 (dark): de-emphasis
          li Base00 (medium-dark): not used in dark mode
          li Base0 (medium-light): normal text
          li Base1 (light): emphasis
        section
          h5 Solarized Dark, Bases
          table.a-bc-s03
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Bases
                th(scope="col") Lunarized Bases
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="2") 4.36
                td(data-rating="2") 3.97
            tbody
              tr
                th(scope="row") Base01
                td.a-c-s01(data-rating="1" title="sol dark de-emphasis") 2.8
                td.a-c-l01(data-rating="1") 2.5
              //- tr
                th(scope="row") Base00
                td.a-c-s00(data-rating="2") 3.4
                td.a-c-l00(data-rating="2") 3.1
              tr
                th(scope="row") Base0
                td.a-c-s0(data-rating="3" title="sol dark text") 4.7
                td.a-c-l0(data-rating="2") 4.3
              tr
                th(scope="row") Base1
                td.a-c-s1(data-rating="3" title="sol dark emphasis") 5.6
                td.a-c-l1(data-rating="3") 5.1
          p With the Solarized Dark scheme, you have a better contrast ratio with the Solarized bases.
        section
          h5 Lunarized Dark, Bases
          table.a-bc-l03
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Bases
                th(scope="col") Lunarized Bases
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="3") 5.07
                td(data-rating="3") 4.60
            tbody
              tr
                th(scope="row") Base01
                td.a-c-s01(data-rating="2") 3.2
                td.a-c-l01(data-rating="2" title="lun dark de-emphasis") 2.9
              //- tr
                th(scope="row") Base00
                td.a-c-s00(data-rating="2") 3.9
                td.a-c-l00(data-rating="2") 3.6
              tr
                th(scope="row") Base0
                td.a-c-s0(data-rating="3") 5.5
                td.a-c-l0(data-rating="3" title="lun dark text") 5.0
              tr
                th(scope="row") Base1
                td.a-c-s1(data-rating="3") 6.5
                td.a-c-l1(data-rating="3" title="lun dark emphasis") 5.9
          p With the Lunarized Dark scheme, you have a better contrast ratio with the Solarized bases.
        table
          colgroup
          colgroup
            col.a-bc-s03
            col.a-bc-l03
          thead
            tr
              td
              th(scope="col") Solarized Dark
              th(scope="col") Lunarized Dark
          tbody
            tr
              th(scope="row") Solarized Bases Average
              td(data-rating="2") 4.36
              td(data-rating="3") 5.07
        p.
          Therefore, given any Dark mode, it is best to choose Solarized bases. However,
          given the choice of Dark mode, Lunarized Dark is better than Solarized Dark with the bases.
      section
        h4 Dark Mode Accents
        section
          h5 Solarized Dark, Accents
          table.a-bc-s03
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Accents
                th(scope="col") Lunarized Accents
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="2") 3.94
                td(data-rating="3") 5.19
            tbody
              tr
                th(scope="row") Red
                td.a-c-sr(data-rating="2") 3.2
                td.a-c-lr(data-rating="2") 4.0
              tr
                th(scope="row") Orange
                td.a-c-so(data-rating="2") 3.3
                td.a-c-lo(data-rating="3") 4.6
              tr
                th(scope="row") Yellow
                td.a-c-sy(data-rating="3") 4.7
                td.a-c-ly(data-rating="2") 4.4
              tr
                th(scope="row") Green
                td.a-c-sg(data-rating="3") 4.7
                td.a-c-lg(data-rating="4") 7.0
              tr
                th(scope="row") Cyan
                td.a-c-sc(data-rating="3") 4.8
                td.a-c-lc(data-rating="4") 7.7
              tr
                th(scope="row") Blue
                td.a-c-sb(data-rating="2") 4.1
                td.a-c-lb(data-rating="3") 6.3
              tr
                th(scope="row") Violet
                td.a-c-sv(data-rating="2") 3.4
                td.a-c-lv(data-rating="2") 3.7
              tr
                th(scope="row") Magenta/Indigo
                td.a-c-sm(data-rating="2") 3.3
                td.a-c-li(data-rating="2") 3.8
          p With the Solarized Dark scheme, you have a better contrast ratio with the Lunarized accents.
        section
          h5 Lunarized Dark, Accents
          table.a-bc-l03
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Accents
                th(scope="col") Lunarized Accents
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="3") 4.55
                td(data-rating="3") 6.03
            tbody
              tr
                th(scope="row") Red
                td.a-c-sr(data-rating="2") 3.8
                td.a-c-lr(data-rating="3") 4.7
              tr
                th(scope="row") Orange
                td.a-c-so(data-rating="2") 3.8
                td.a-c-lo(data-rating="3") 5.4
              tr
                th(scope="row") Yellow
                td.a-c-sy(data-rating="3") 5.4
                td.a-c-ly(data-rating="3") 5.1
              tr
                th(scope="row") Green
                td.a-c-sg(data-rating="3") 5.4
                td.a-c-lg(data-rating="4") 8.1
              tr
                th(scope="row") Cyan
                td.a-c-sc(data-rating="3") 5.5
                td.a-c-lc(data-rating="4") 8.9
              tr
                th(scope="row") Blue
                td.a-c-sb(data-rating="3") 4.7
                td.a-c-lb(data-rating="4") 7.3
              tr
                th(scope="row") Violet
                td.a-c-sv(data-rating="2") 4.0
                td.a-c-lv(data-rating="2") 4.3
              tr
                th(scope="row") Magenta/Indigo
                td.a-c-sm(data-rating="2") 3.8
                td.a-c-li(data-rating="2") 4.4
          p With the Lunarized Dark scheme, you have a better contrast ratio with the Lunarized accents.
        table
          colgroup
          colgroup
            col.a-bc-s03
            col.a-bc-l03
          thead
            tr
              td
              th(scope="col") Solarized Dark
              th(scope="col") Lunarized Dark
          tbody
            tr
              th(scope="row") Lunarized Accents Average
              td(data-rating="3") 5.19
              td(data-rating="3") 6.03
        p.
          Therefore, given any Dark mode, it is best to choose Lunarized accents. However,
          given the choice of Dark mode, Lunarized Dark is better than Solarized Dark with the accents.
      p: strong.
        In semi-final conclusion the best choice for Dark mode would be
        Lunarized Dark with Solarized bases and Lunarized accents.
    section
      h3 Light Mode
      section
        h4 Light Mode Bases
        p.
          If you want a light background (either Solarized Base3 or Lunarized Base3),
          you know that whatever bases you use will be
        ul
          li Base01 (dark): emphasis
          li Base00 (medium-dark): normal text
          li Base0 (medium-light): not used in light mode
          li Base1 (light): de-emphasis
        section
          h5 Solarized Light, Bases
          table.a-bc-s3
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Bases
                th(scope="col") Lunarized Bases
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="2") 3.87
                td(data-rating="2") 4.23
            tbody
              tr
                th(scope="row") Base01
                td.a-c-s01(data-rating="3" title="sol light emphasis") 5.0
                td.a-c-l01(data-rating="3") 5.5
              tr
                th(scope="row") Base00
                td.a-c-s00(data-rating="2" title="sol light text") 4.1
                td.a-c-l00(data-rating="3") 4.5
              //- tr
                th(scope="row") Base0
                td.a-c-s0(data-rating="1") 2.9
                td.a-c-l0(data-rating="2") 3.3
              tr
                th(scope="row") Base1
                td.a-c-s1(data-rating="1" title="sol light de-emphasis") 2.5
                td.a-c-l1(data-rating="1") 2.7
          p With the Solarized Light scheme, you have a better contrast ratio with the Lunarized bases.
        section
          h5 Lunarized Light, Bases
          table.a-bc-l3
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Bases
                th(scope="col") Lunarized Bases
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="2") 3.47
                td(data-rating="2") 3.80
            tbody
              tr
                th(scope="row") Base01
                td.a-c-s01(data-rating="2") 4.5
                td.a-c-l01(data-rating="2" title="lun light emphasis") 4.9
              tr
                th(scope="row") Base00
                td.a-c-s00(data-rating="2") 3.7
                td.a-c-l00(data-rating="2" title="lun light text") 4.0
              //- tr
                th(scope="row") Base0
                td.a-c-s0(data-rating="3") 2.6
                td.a-c-l0(data-rating="3") 2.9
              tr
                th(scope="row") Base1
                td.a-c-s1(data-rating="3") 2.2
                td.a-c-l1(data-rating="3" title="lun light de-emphasis") 2.5
          p With the Lunarized Light scheme, you have a better contrast ratio with the Lunarized bases.
        table
          colgroup
          colgroup
            col.a-bc-s3
            col.a-bc-l3
          thead
            tr
              td
              th(scope="col") Solarized Light
              th(scope="col") Lunarized Light
          tbody
            tr
              th(scope="row") Lunarized Bases Average
              td(data-rating="2") 4.23
              td(data-rating="2") 3.80
        p.
          Therefore, given any Light mode, it is best to choose Lunarized bases. However,
          given the choice of Light mode, Solarized Light is better than Lunarized Light with the bases.
      section
        h4 Light Mode Accents
        section
          h5 Solarized Light, Accents
          table.a-bc-s3
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Accents
                th(scope="col") Lunarized Accents
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="2") 3.65
                td(data-rating="1") 2.90
            tbody
              tr
                th(scope="row") Red
                td.a-c-sr(data-rating="2") 4.3
                td.a-c-lr(data-rating="2") 3.5
              tr
                th(scope="row") Orange
                td.a-c-so(data-rating="2") 4.3
                td.a-c-lo(data-rating="2") 3.0
              tr
                th(scope="row") Yellow
                td.a-c-sy(data-rating="2") 3.0
                td.a-c-ly(data-rating="2") 3.2
              tr
                th(scope="row") Green
                td.a-c-sg(data-rating="2") 3.0
                td.a-c-lg(data-rating="1") 2.0
              tr
                th(scope="row") Cyan
                td.a-c-sc(data-rating="1") 2.9
                td.a-c-lc(data-rating="1") 1.8
              tr
                th(scope="row") Blue
                td.a-c-sb(data-rating="2") 3.4
                td.a-c-lb(data-rating="1") 2.2
              tr
                th(scope="row") Violet
                td.a-c-sv(data-rating="2") 4.1
                td.a-c-lv(data-rating="2") 3.8
              tr
                th(scope="row") Magenta/Indigo
                td.a-c-sm(data-rating="2") 4.2
                td.a-c-li(data-rating="2") 3.7
          p With the Solarized Light scheme, you have a better contrast ratio with the Solarized accents.
        section
          h5 Lunarized Light, Accents
          table.a-bc-l3
            colgroup
            colgroup
              col
              col
            thead
              tr
                td
                th(scope="col") Solarized Accents
                th(scope="col") Lunarized Accents
            tfoot
              tr
                th(scope="row") Average
                td(data-rating="2") 3.26
                td(data-rating="1") 2.59
            tbody
              tr
                th(scope="row") Red
                td.a-c-sr(data-rating="2") 3.8
                td.a-c-lr(data-rating="2") 3.1
              tr
                th(scope="row") Orange
                td.a-c-so(data-rating="2") 3.8
                td.a-c-lo(data-rating="1") 2.7
              tr
                th(scope="row") Yellow
                td.a-c-sy(data-rating="1") 2.7
                td.a-c-ly(data-rating="1") 2.8
              tr
                th(scope="row") Green
                td.a-c-sg(data-rating="1") 2.7
                td.a-c-lg(data-rating="1") 1.8
              tr
                th(scope="row") Cyan
                td.a-c-sc(data-rating="1") 2.6
                td.a-c-lc(data-rating="1") 1.6
              tr
                th(scope="row") Blue
                td.a-c-sb(data-rating="2") 3.1
                td.a-c-lb(data-rating="1") 2.0
              tr
                th(scope="row") Violet
                td.a-c-sv(data-rating="2") 3.6
                td.a-c-lv(data-rating="2") 3.4
              tr
                th(scope="row") Magenta/Indigo
                td.a-c-sm(data-rating="2") 3.8
                td.a-c-li(data-rating="2") 3.3
          p With the Lunarized Light scheme, you have a better contrast ratio with the Solarized accents.
        table
          colgroup
          colgroup
            col.a-bc-s3
            col.a-bc-l3
          thead
            tr
              td
              th(scope="col") Solarized Light
              th(scope="col") Lunarized Light
          tbody
            tr
              th(scope="row") Solarized Accents Average
              td(data-rating="2") 3.65
              td(data-rating="2") 3.26
        p.
          Therefore, given any Light mode, it is best to choose Solarized accents. However,
          given the choice of Light mode, Solarized Light is better than Lunarized Light with the accents.
      p: strong.
        In semi-final conclusion the best choice for Light mode would be
        Solarized Light with Lunarized bases and Solarized accents.
    table
      colgroup
      colgroup
        col.a-bc-l03
        col.a-bc-s3
      thead
        tr
          td
          th(scope="col") Lunarized Dark
          th(scope="col") Solarized Light
      tfoot
        tr
          th(scope="row") Total Average
          td(data-rating="3") 5.55
          td(data-rating="2") 3.94
      tbody
        tr
          th(scope="row") Bases Average
          td(data-rating="3") 5.07 (Solarized)
          td(data-rating="2") 4.23 (Lunarized)
        tr
          th(scope="row") Accents Average
          td(data-rating="3") 6.03 (Lunarized)
          td(data-rating="2") 3.65 (Solarized)
    p: strong: em.
      Final Conclusion.
      The options for each mode are:
      #[br]Dark mode:  Lunarized Dark:  Solarized bases, Lunarized accents.
      #[br]Light mode: Solarized Light: Lunarized bases, Solarized accents.
      #[br]When facing each other, Dark mode has a better average contrast ratio with its
      bases and accents than Light mode does.
    p See the #[a(href="use.html") Suggested Use] page for further demos.
