extends ../index-tpl.jade

block append vars
  - page_names.push('Sample')
  - home_path = '../'

block append body
  script.
    var context = !{JSON.stringify(context)}
    var createTheme = #{createTheme}
    var preset_theme = {
      solarized_dark: createTheme({
        mode: 'dark'
      , bg_scheme: 'Solarized'
      , fg_scheme: 'Solarized'
      , ac_scheme: 'Solarized'
      })
    , solarized_light: createTheme({
        mode: 'light'
      , bg_scheme: 'Solarized'
      , fg_scheme: 'Solarized'
      , ac_scheme: 'Solarized'
      })
    , lunarized_dark: createTheme({
        mode: 'dark'
      , bg_scheme: 'Lunarized'
      , fg_scheme: 'Lunarized'
      , ac_scheme: 'Lunarized'
      })
    , lunarized_light: createTheme({
        mode: 'light'
      , bg_scheme: 'Lunarized'
      , fg_scheme: 'Lunarized'
      , ac_scheme: 'Lunarized'
      })
    , solarized_dark_mod: createTheme({
        mode: 'dark'
      , bg_scheme: 'Solarized'
      , fg_scheme: 'Solarized'
      , ac_scheme: 'Lunarized'
      })
    , solarized_light_mod: createTheme({
        mode: 'light'
      , bg_scheme: 'Solarized'
      , fg_scheme: 'Lunarized'
      , ac_scheme: 'Solarized'
      })
    , lunarized_dark_mod: createTheme({
        mode: 'dark'
      , bg_scheme: 'Lunarized'
      , fg_scheme: 'Solarized'
      , ac_scheme: 'Lunarized'
      })
    , lunarized_light_mod: createTheme({
        mode: 'light'
      , bg_scheme: 'Lunarized'
      , fg_scheme: 'Lunarized'
      , ac_scheme: 'Solarized'
      })
    }
    function removeTheme(container) {
      var theme = createTheme({
        mode: container.attr('data-mode') || 'dark'
      , bg_scheme: container.attr('data-bg_scheme') || 'Solarized'
      , fg_scheme: container.attr('data-fg_scheme') || 'Solarized'
      , ac_scheme: container.attr('data-ac_scheme') || 'Solarized'
      })
      container.removeAttr('data-mode')
        .removeAttr('data-bg_scheme')
        .removeAttr('data-fg_scheme')
        .removeAttr('data-ac_scheme')
      container.removeClass(theme.bg.class + ' ' + theme.text.class)
      container.find('.js-emph').removeClass(theme.emph.class)
      container.find('.js-deemph').removeClass(theme.deemph.class)
      container.find('.js-hilite').removeClass(theme.hilite.class)
      container.find('.js-ctl').removeClass(theme.ctl.class)
      container.find('.js-opr').removeClass(theme.opr.class)
      container.find('.js-kwd').removeClass(theme.kwd.class)
      container.find('.js-cst').removeClass(theme.cst.class)
      container.find('.js-str').removeClass(theme.str.class)
      container.find('.js-cmd').removeClass(theme.cmd.class)
      container.find('.js-arg').removeClass(theme.arg.class)
      container.find('.js-obj').removeClass(theme.obj.class)
      return theme
    }
    function applyTheme(theme, container) {
      removeTheme(container)
      container.attr('data-mode', theme.args.mode)
        .attr('data-bg_scheme', theme.args.bg_scheme)
        .attr('data-fg_scheme', theme.args.fg_scheme)
        .attr('data-ac_scheme', theme.args.ac_scheme)
      container.addClass(theme.bg.class + ' ' + theme.text.class)
      container.find('.js-emph').addClass(theme.emph.class)
      container.find('.js-deemph').addClass(theme.deemph.class)
      container.find('.js-hilite').addClass(theme.hilite.class)
      container.find('.js-ctl').addClass(theme.ctl.class)
      container.find('.js-opr').addClass(theme.opr.class)
      container.find('.js-kwd').addClass(theme.kwd.class)
      container.find('.js-cst').addClass(theme.cst.class)
      container.find('.js-str').addClass(theme.str.class)
      container.find('.js-cmd').addClass(theme.cmd.class)
      container.find('.js-arg').addClass(theme.arg.class)
      container.find('.js-obj').addClass(theme.obj.class)
    }
    function editTheme(changes, container) {
      var args = removeTheme(container).args
      changes(args)
      applyTheme(createTheme(args), container)
    }
    applyTheme(preset_theme.solarized_dark, $('.js-theme'))
    $('input[name="preset"]').change(function () {
      applyTheme(preset_theme[$(this).val()], $('.js-theme'))
    })
  //- script.
    $('.check').change(function () {
      var section = $(this).closest('section.o-Box')
      var mode = section.attr('data-mode')
      var bg_scheme = section.attr('data-bg_scheme')
      var fg_scheme = section.attr('data-fg_scheme')
      var ac_scheme = section.attr('data-ac_scheme')
      var invert = {
        'modes': {
          'dark': 'light'
        , 'light': 'dark'
        }
      , 'schemes': {
          'Solarized': 'Lunarized'
        , 'Lunarized': 'Solarized'
        }
      }
      var bg_scheme_invert = invert.schemes[bg_scheme]
      var fg_scheme_invert = invert.schemes[fg_scheme]
      var ac_scheme_invert = invert.schemes[ac_scheme]
      section.removeClass(bases[fg_scheme][mode].text.class + ' ' + bases[fg_scheme_invert][mode].text.class)
      var children = {
        emphs: section.find('.' + bases[fg_scheme][mode].emph.class + ', ' + '.' + bases[fg_scheme_invert][mode].emph.class)
      , deemphs: section.find('.' + bases[fg_scheme][mode].deemph.class + ', ' + '.' + bases[fg_scheme_invert][mode].deemph.class)
      }
      children.emphs.removeClass(bases[fg_scheme][mode].emph.class + ' ' + bases[fg_scheme_invert][mode].emph.class)
      children.deemphs.removeClass(bases[fg_scheme][mode].deemph.class + ' ' + bases[fg_scheme_invert][mode].deemph.class)
      if (this.checked) {
        section.addClass(bases[fg_scheme_invert][mode].text.class)
        children.emphs.addClass(bases[fg_scheme_invert][mode].emph.class)
        children.deemphs.addClass(bases[fg_scheme_invert][mode].deemph.class)
      } else {
        section.addClass(bases[fg_scheme][mode].text.class)
        children.emphs.addClass(bases[fg_scheme][mode].emph.class)
        children.deemphs.addClass(bases[fg_scheme][mode].deemph.class)
      }
    })

block append main
  form.o-FlexContainer
    fieldset.-w-1o2
      legend Preset Themes
      p.
        Preset #[cite Solarized] themes were created by
        #[a(href="http://ethanschoonover(class=color.c)om/solarized") Ethan Schoonover];
        preset #[cite Lunarized] themes were created by me.
        Read the #[a(href="../index.html") home page] for more information.
      ul.o-ListBare
        li: label
          input#check-t-sol-dark(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_dark" checked="")
          | Solarized Dark
        li: label
          input#check-t-sol-lite(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_light")
          | Solarized Light
        li: label
          input#check-t-lun-dark(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_dark")
          | Lunarized Dark
        li: label
          input#check-t-lun-lite(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_light")
          | Lunarized Light
    fieldset.-w-1o2
      legend Accessible-Friendly Themes
      p.
        Accessible-friendly themes choose foreground and accent colors based on their contrast ratios
        with the background color. Themes denoted with an asterisk (#[sup &lowast;]) are suggested over their
        counterparts  in the same (dark/light) mode.
      ul.o-ListBare
        li: label
          input#check-t-sol-dark-mod(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_dark_mod")
          | modified Solarized Dark
        li: label
          input#check-t-sol-lite-mod(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_light_mod")
          | modified Solarized Light #[sup &lowast;]
        li: label
          input#check-t-lun-dark-mod(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_dark_mod")
          | modified Lunarized Dark #[sup &lowast;]
        li: label
          input#check-t-lun-lite-mod(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_light_mod")
          | modified Lunarized Light
  pre.o-Box.js-theme.
    #[span.js-cmd &lt;tag #[span.js-kwd attribute=#[span.js-str &quot;value value&quot;]]&gt;]content #[span.js-cst &amp;amp;] more#[span.js-cmd &lt;#{'/'}tag&gt;]
    #[small.js-deemph &lt;!-- HTML comment --&gt;]
    #[span.js-cmd &lt;style #[span.js-kwd scoped]&gt;]
      #[small.js-deemph /* block comment */]
      element,
      #[span.js-cmd .class] #[span.js-opr= '{']
        #[small.js-deemph #{'//'} inline comment]
        #[span.js-kwd property]: #[span.js-str value];
        #[span.js-kwd property]: #[span.js-cst 48px];
        #[span.js-cmd .command(#[span.js-arg argument, #[span.js-obj 'string']])];
        #[strong.js-emph.js-hilite &amp;#[span.js-ctl :pseudo] #[span.js-opr= '{'] #[span.js-kwd property]: #[span.js-str value]; #[span.js-opr= '}']]
      #[span.js-opr= '}']
    #[span.js-cmd &lt;#{'/'}style&gt;]
    #[span.js-cmd &lt;script&gt;]
      #[span.js-kwd function] #[span.js-cmd Person(#[span.js-arg name])] #[span.js-opr= '{'] #[small.js-deemph #{'//'} constructor for class `Person`]
        #[span.js-obj this].greetings #[span.js-opr =] #[span.js-opr #{'['}] #[span.js-str 'hello!']#[span.js-opr ,] #[span.js-str 'hi!']#[span.js-opr ,] handshake #[span.js-opr #{']'}];
      #[span.js-opr= '}']
      #[span.js-kwd function] #[span.js-cmd TestSubject(#[span.js-arg name#[span.js-opr ,] adopted])] #[span.js-opr= '{'] #[small.js-deemph #{'//'} constructor for class `TestSubject`]
        #[span.js-obj Person]#[span.js-cmd .call(#[span.js-arg #[span.js-obj this]#[span.js-opr ,] name#[span.js-opr ,] adopted])]; #[small.js-deemph #{'//'} calls the parent constructor]
        #[span.js-ctl if (#[span.js-opr typeof] #[span.js-arg adopted] #[span.js-opr ===] #[span.js-str 'boolean'])] #[span.js-opr= '{']
          #[strong.js-emph.js-hilite #[span.js-obj this].is_adopted #[span.js-opr =] #[span.js-arg adopted];]
        #[span.js-opr= '}'] #[span.js-ctl else] #[span.js-obj this].is_adopted #[span.js-opr =] #[span.js-cst false];
      #[span.js-opr= '}']
      #[span.js-obj this].location #[span.js-opr =] #[span.js-opr #{'{'}] name#[span.js-opr :] #[span.js-str 'Aperture Science Enrichment Center'] #[span.js-opr #{'}'}]
      #[span.js-obj Util]#[span.js-cmd .extend(#[span.js-arg #[span.js-obj TestSubject]#[span.js-opr ,] #[span.js-obj Person]])]; #[small.js-deemph #{'//'} extends `TestSubject` from `Person`]
      #[span.js-kwd var] you #[span.js-opr =] #[span.js-opr new] #[span.js-cmd TestSubject(#[span.js-arg #[span.js-str 'Chell']#[span.js-opr ,] #[span.js-cst true]])]; #[small.js-deemph #{'//'} creates an instance of `TestSubject`]
    #[span.js-cmd &lt;#{'/'}script&gt;]
