extends ../index-tpl.jade

block append vars
  - page_names.push('Sample')
  - home_path = '../'

block append body
  script.
    var context = !{JSON.stringify(context)}
    var createTheme = #{createTheme}
    var preset_theme = {
      solarized_dark: createTheme({
        mode: 'dark'
      , bg_scheme: 'Solarized'
      , fg_scheme: 'Solarized'
      , ac_scheme: 'Solarized'
      })
    , solarized_light: createTheme({
        mode: 'light'
      , bg_scheme: 'Solarized'
      , fg_scheme: 'Solarized'
      , ac_scheme: 'Solarized'
      })
    , lunarized_dark: createTheme({
        mode: 'dark'
      , bg_scheme: 'Lunarized'
      , fg_scheme: 'Lunarized'
      , ac_scheme: 'Lunarized'
      })
    , lunarized_light: createTheme({
        mode: 'light'
      , bg_scheme: 'Lunarized'
      , fg_scheme: 'Lunarized'
      , ac_scheme: 'Lunarized'
      })
    }
    function removeTheme() {
      var theme = createTheme({
        mode: $('.js-theme').attr('data-mode') || 'dark'
      , bg_scheme: $('.js-theme').attr('data-bg_scheme') || 'Solarized'
      , fg_scheme: $('.js-theme').attr('data-fg_scheme') || 'Solarized'
      , ac_scheme: $('.js-theme').attr('data-ac_scheme') || 'Solarized'
      })
      $('.js-theme').removeClass(theme.bg.class + ' ' + theme.text.class)
      $('.js-emph').removeClass(theme.emph.class)
      $('.js-deemph').removeClass(theme.deemph.class)
      $('.js-hilite').removeClass(theme.hilite.class)
      $('.js-ctl').removeClass(theme.ctl.class)
      $('.js-opr').removeClass(theme.opr.class)
      $('.js-kwd').removeClass(theme.kwd.class)
      $('.js-cst').removeClass(theme.cst.class)
      $('.js-str').removeClass(theme.str.class)
      $('.js-cmd').removeClass(theme.cmd.class)
      $('.js-arg').removeClass(theme.arg.class)
      $('.js-obj').removeClass(theme.obj.class)
      $('.js-theme').removeAttr('data-mode')
        .removeAttr('data-bg_scheme')
        .removeAttr('data-fg_scheme')
        .removeAttr('data-ac_scheme')
    }
    function applyTheme(theme) {
      removeTheme()
      $('.js-theme').attr('data-mode', theme.args.mode)
        .attr('data-bg_scheme', theme.args.bg_scheme)
        .attr('data-fg_scheme', theme.args.fg_scheme)
        .attr('data-ac_scheme', theme.args.ac_scheme)
      $('.js-theme').addClass(theme.bg.class + ' ' + theme.text.class)
      $('.js-emph').addClass(theme.emph.class)
      $('.js-deemph').addClass(theme.deemph.class)
      $('.js-hilite').addClass(theme.hilite.class)
      $('.js-ctl').addClass(theme.ctl.class)
      $('.js-opr').addClass(theme.opr.class)
      $('.js-kwd').addClass(theme.kwd.class)
      $('.js-cst').addClass(theme.cst.class)
      $('.js-str').addClass(theme.str.class)
      $('.js-cmd').addClass(theme.cmd.class)
      $('.js-arg').addClass(theme.arg.class)
      $('.js-obj').addClass(theme.obj.class)
    }
    applyTheme(preset_theme.solarized_dark)
  //- script.
    $('.check').change(function () {
      var section = $(this).closest('section.o-Box')
      var mode = section.attr('data-mode')
      var bg_scheme = section.attr('data-bg_scheme')
      var fg_scheme = section.attr('data-fg_scheme')
      var ac_scheme = section.attr('data-ac_scheme')
      var invert = {
        'modes': {
          'dark': 'light'
        , 'light': 'dark'
        }
      , 'schemes': {
          'Solarized': 'Lunarized'
        , 'Lunarized': 'Solarized'
        }
      }
      var bg_scheme_invert = invert.schemes[bg_scheme]
      var fg_scheme_invert = invert.schemes[fg_scheme]
      var ac_scheme_invert = invert.schemes[ac_scheme]
      section.removeClass(bases[fg_scheme][mode].text.class + ' ' + bases[fg_scheme_invert][mode].text.class)
      var children = {
        emphs: section.find('.' + bases[fg_scheme][mode].emph.class + ', ' + '.' + bases[fg_scheme_invert][mode].emph.class)
      , deemphs: section.find('.' + bases[fg_scheme][mode].deemph.class + ', ' + '.' + bases[fg_scheme_invert][mode].deemph.class)
      }
      children.emphs.removeClass(bases[fg_scheme][mode].emph.class + ' ' + bases[fg_scheme_invert][mode].emph.class)
      children.deemphs.removeClass(bases[fg_scheme][mode].deemph.class + ' ' + bases[fg_scheme_invert][mode].deemph.class)
      if (this.checked) {
        section.addClass(bases[fg_scheme_invert][mode].text.class)
        children.emphs.addClass(bases[fg_scheme_invert][mode].emph.class)
        children.deemphs.addClass(bases[fg_scheme_invert][mode].deemph.class)
      } else {
        section.addClass(bases[fg_scheme][mode].text.class)
        children.emphs.addClass(bases[fg_scheme][mode].emph.class)
        children.deemphs.addClass(bases[fg_scheme][mode].deemph.class)
      }
    })

block append main
  //- input.check(style="margin-left: 0.5em;" type="checkbox" name="switch-theme" value="")
  pre.o-Box.js-theme.
    #[span.js-cmd &lt;tag #[span.js-kwd attribute=#[span.js-str &quot;value value&quot;]]&gt;]content #[span.js-cst &amp;amp;] more#[span.js-cmd &lt;#{'/'}tag&gt;]
    #[small.js-deemph &lt;!-- HTML comment --&gt;]
    #[span.js-cmd &lt;style #[span.js-kwd scoped]&gt;]
      #[small.js-deemph /* block comment */]
      element,
      #[span.js-cmd .class] #[span.js-opr= '{']
        #[small.js-deemph #{'//'} inline comment]
        #[span.js-kwd property]: #[span.js-str value];
        #[span.js-kwd property]: #[span.js-cst 48px];
        #[span.js-cmd .command(#[span.js-arg argument, #[span.js-obj 'string']])];
        #[strong.js-emph.js-hilite &amp;#[span.js-ctl :pseudo] #[span.js-opr= '{'] #[span.js-kwd property]: #[span.js-str value]; #[span.js-opr= '}']]
      #[span.js-opr= '}']
    #[span.js-cmd &lt;#{'/'}style&gt;]
    #[span.js-cmd &lt;script&gt;]
      #[span.js-kwd function] #[span.js-cmd Person(#[span.js-arg name])] #[span.js-opr= '{'] #[small.js-deemph #{'//'} constructor for class `Person`]
        #[span.js-obj this].greetings #[span.js-opr =] #[span.js-opr #{'['}] #[span.js-str 'hello!']#[span.js-opr ,] #[span.js-str 'hi!']#[span.js-opr ,] handshake #[span.js-opr #{']'}];
      #[span.js-opr= '}']
      #[span.js-kwd function] #[span.js-cmd TestSubject(#[span.js-arg name#[span.js-opr ,] adopted])] #[span.js-opr= '{'] #[small.js-deemph #{'//'} constructor for class `TestSubject`]
        #[span.js-obj Person]#[span.js-cmd .call(#[span.js-arg #[span.js-obj this]#[span.js-opr ,] name#[span.js-opr ,] adopted])]; #[small.js-deemph #{'//'} calls the parent constructor]
        #[span.js-ctl if (#[span.js-opr typeof] #[span.js-arg adopted] #[span.js-opr ===] #[span.js-str 'boolean'])] #[span.js-opr= '{']
          #[strong.js-emph.js-hilite #[span.js-obj this].is_adopted #[span.js-opr =] #[span.js-arg adopted];]
        #[span.js-opr= '}'] #[span.js-ctl else] #[span.js-obj this].is_adopted #[span.js-opr =] #[span.js-cst false];
      #[span.js-opr= '}']
      #[span.js-obj this].location #[span.js-opr =] #[span.js-opr #{'{'}] name#[span.js-opr :] #[span.js-str 'Aperture Science Enrichment Center'] #[span.js-opr #{'}'}]
      #[span.js-obj Util]#[span.js-cmd .extend(#[span.js-arg #[span.js-obj TestSubject]#[span.js-opr ,] #[span.js-obj Person]])]; #[small.js-deemph #{'//'} extends `TestSubject` from `Person`]
      #[span.js-kwd var] you #[span.js-opr =] #[span.js-opr new] #[span.js-cmd TestSubject(#[span.js-arg #[span.js-str 'Chell']#[span.js-opr ,] #[span.js-cst true]])]; #[small.js-deemph #{'//'} creates an instance of `TestSubject`]
    #[span.js-cmd &lt;#{'/'}script&gt;]
