extends _docs.tpl.jade

block append vars
  - var page = Docs.SITE.find('accessibility.html')

block append main
  section
    -
      var rows = [
        Docs.SOLARIZED.getColor('Base01')
      , Docs.SOLARIZED.getColor('Base00')
      , Docs.SOLARIZED.getColor('Base0')
      , Docs.SOLARIZED.getColor('Base1')
      , Docs.SOLARIZED.getColor('Red')
      , Docs.SOLARIZED.getColor('Orange')
      , Docs.SOLARIZED.getColor('Yellow')
      , Docs.SOLARIZED.getColor('Green')
      , Docs.SOLARIZED.getColor('Cyan')
      , Docs.SOLARIZED.getColor('Blue')
      , Docs.SOLARIZED.getColor('Violet')
      , Docs.SOLARIZED.getColor('Magenta')
      , Docs.LUNARIZED.getColor('Base01')
      , Docs.LUNARIZED.getColor('Base00')
      , Docs.LUNARIZED.getColor('Base0')
      , Docs.LUNARIZED.getColor('Base1')
      , Docs.LUNARIZED.getColor('Cyan')
      , Docs.LUNARIZED.getColor('Blue')
      , Docs.LUNARIZED.getColor('Indigo')
      , Docs.LUNARIZED.getColor('Violet')
      , Docs.LUNARIZED.getColor('Red')
      , Docs.LUNARIZED.getColor('Orange')
      , Docs.LUNARIZED.getColor('Yellow')
      , Docs.LUNARIZED.getColor('Green')
      ]
      var cols = [
        Docs.SOLARIZED.getColor('Base03')
      , Docs.SOLARIZED.getColor('Base02')
      , Docs.SOLARIZED.getColor('Base2')
      , Docs.SOLARIZED.getColor('Base3')
      , Docs.LUNARIZED.getColor('Base03')
      , Docs.LUNARIZED.getColor('Base02')
      , Docs.LUNARIZED.getColor('Base2')
      , Docs.LUNARIZED.getColor('Base3')
      ]
    h2 Table of Contrast Ratios
    table.c-CrTable
      caption
        p.
          A demonstration of background colors and foreground colors.
          For brevity, the only background colors are Bases 03, 02, 2, and 3; and
          the only foreground colors are Bases 01, 00, 0, and 1, along with all accent colors.
          #[a(href="#contrast-ratio-table") Contrast ratios] are shown in each cell.
      colgroup
      colgroup
        each colorish in cols.slice(0,4)
          col(class=Scheme.bgClass(colorish))
      colgroup
        each colorish in cols.slice(4)
          col(class=Scheme.bgClass(colorish))
      thead
        tr
          td
          each colorish in cols
            th(scope="col")= colorish.name
      mixin tableRow(fg_colorish)
        tr(class=Scheme.fgClass(fg_colorish))
          th(scope="row")= fg_colorish.name
          each bg_colorish in cols
            - var ratio = Math.round(fg_colorish.color.contrastRatio(bg_colorish.color)*100)/100
            td(data-rating=(function (r) {
              var bounds = [3, 4.5, 7]
              var value = 1
              for (var i in bounds) if (r >= bounds[i]) value += 1
              return value
            })(ratio))= ratio
      tbody
        each colorish in rows.slice(0,12)
          +tableRow(colorish)
      tbody
        each colorish in rows.slice(12)
          +tableRow(colorish)
    p The #[a(href="use.html") Suggested Use] page demonstrates the most accessible contrast ratios.
    table.-mh-a#contrast-ratio-table(style="font-size: 0.75rem; line-height: 2;")
      caption
        | A summary of #[a(href="http://leaverou.github.io/contrast-ratio/") contrast ratios].
        br
        small #[dfn Large text] is defined as above 18pt (24px), or above 14pt (19px) and bold.
      thead
        tr
          th(scope="col") Contrast Ratio
          th(scope="col") Level
          th(scope="col") Keyword
          th(scope="col") Description
      tbody
        tr
          td &#x005b;1, 3.0&#x0029;
          td 1
          td bad.
          td Fails #[a(href="https://www.w3.org/TR/WCAG/#visual-audio-contrast") WCAG 2.0]
        tr
          td &#x005b;3.0, 4.5&#x0029;
          td 2
          td okay&hellip;
          td Passes AA level for large text
        tr
          td &#x005b;4.5, 7.0&#x0029;
          td 3
          td good!
          td Passes AA level for any size text and AAA for large text
        tr
          td &#x005b;7.0, 21&#x005d;
          td 4
          td great!!
          td Passes AAA level for any size text
