extends _docs.tpl.jade

block append vars
  - var page = Docs.SITE.find('sample.html')

block append scripts
  script(src="scripts/sample.js")

block append main
  form.o-GridFlex
    fieldset.o-GridFlex__Item.-w-1o2
      legend Preset Themes
      p.
        Preset #[cite Solarized] themes were created by
        #[a(href="http://ethanschoonover.com/solarized") Ethan Schoonover];
        preset #[cite Lunarized] themes were created by me.
        Read the #[a(href="index.html") home page] for more information.
      ul.o-ListBare
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_dark")
          | Solarized Dark
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_light")
          | Solarized Light
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_dark")
          | Lunarized Dark
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_light")
          | Lunarized Light
    fieldset.o-GridFlex__Item.-w-1o2
      legend Accessible-Friendly Themes
      p.
        Accessible-friendly themes choose foreground and accent colors based on their
        #[a(href="accessibility.html") contrast ratios]
        with the background color.
      ul.o-ListBare
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_dark_mod")
          | Modified Solarized Dark
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="solarized_light_mod")
          | Modified Solarized Light#[sup &lowast;]
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_dark_mod")
          | Modified Lunarized Dark#[sup &dagger;]
        li: label
          input(style="margin-right: 0.5em;" type="radio" name="preset" value="lunarized_light_mod")
          | Modified Lunarized Light
      foooter: ul.o-ListBare
        li #[sup &lowast;]recommended over #[b Modified Lunarized Light]
        li #[sup &dagger;]recommended over #[b Modified Solarized Dark]
    fieldset.o-GridFlex__Item
      legend Create Your Own Theme
      ul.o-ListBare.o-GridFlex
        li.o-GridFlex__Item.-w-1o4: label
          | Mode
          br
          select(name="cyo" data-param="mode")
            option
            option(value="dark") dark
            option(value="light") light
        li.o-GridFlex__Item.-w-1o4: label
          | Background Scheme
          br
          select(name="cyo" data-param="bg_scheme")
            option
            option(value="Solarized") Solarized Backgrounds
            option(value="Lunarized") Lunarized Backgrounds
        li.o-GridFlex__Item.-w-1o4: label
          | Foreground Scheme
          br
          select(name="cyo" data-param="fg_scheme")
            option
            option(value="Solarized") Solarized Bases
            option(value="Lunarized") Lunarized Bases
        li.o-GridFlex__Item.-w-1o4: label
          | Accent Scheme
          br
          select(name="cyo" data-param="ac_scheme")
            option
            option(value="Solarized") Solarized Accents
            option(value="Lunarized") Lunarized Accents
    p.o-GridFlex__Item: input(type="reset")
  pre.o-Box.js-theme.
    #[span.js-cmd &lt;tag #[span.js-kwd attribute=#[span.js-str &quot;value value&quot;]]&gt;]content #[span.js-cst &amp;amp;] more#[span.js-cmd &lt;#{'/'}tag&gt;]
    #[small.js-deemph &lt;!-- HTML comment --&gt;]
    #[span.js-cmd &lt;style #[span.js-kwd scoped]&gt;]
      #[small.js-deemph /* block comment */]
      element,
      #[span.js-cmd .class] #[span.js-opr= '{']
        #[small.js-deemph #{'//'} inline comment]
        #[span.js-kwd property]: #[span.js-str value];
        #[span.js-kwd property]: #[span.js-cst 48px];
        #[span.js-cmd .command(#[span.js-arg argument, #[span.js-obj 'string']])];
        #[strong.js-emph.js-hilite &amp;#[span.js-ctl :pseudo] #[span.js-opr= '{'] #[span.js-kwd property]: #[span.js-str value]; #[span.js-opr= '}']]
      #[span.js-opr= '}']
    #[span.js-cmd &lt;#{'/'}style&gt;]
    #[span.js-cmd &lt;script&gt;]
      #[span.js-kwd function] #[span.js-cmd Person(#[span.js-arg name])] #[span.js-opr= '{'] #[small.js-deemph #{'//'} constructor for class `Person`]
        #[span.js-obj this].greetings #[span.js-opr =] #[span.js-opr #{'['}] #[span.js-str 'hello!']#[span.js-opr ,] #[span.js-str 'hi!']#[span.js-opr ,] handshake #[span.js-opr #{']'}];
      #[span.js-opr= '}']
      #[span.js-kwd function] #[span.js-cmd TestSubject(#[span.js-arg name#[span.js-opr ,] adopted])] #[span.js-opr= '{'] #[small.js-deemph #{'//'} constructor for class `TestSubject`]
        #[span.js-obj Person]#[span.js-cmd .call(#[span.js-arg #[span.js-obj this]#[span.js-opr ,] name#[span.js-opr ,] adopted])]; #[small.js-deemph #{'//'} calls the parent constructor]
        #[span.js-ctl if (#[span.js-opr typeof] #[span.js-arg adopted] #[span.js-opr ===] #[span.js-str 'boolean'])] #[span.js-opr= '{']
          #[strong.js-emph.js-hilite #[span.js-obj this].is_adopted #[span.js-opr =] #[span.js-arg adopted];]
        #[span.js-opr= '}'] #[span.js-ctl else] #[span.js-obj this].is_adopted #[span.js-opr =] #[span.js-cst false];
      #[span.js-opr= '}']
      #[span.js-obj this].location #[span.js-opr =] #[span.js-opr #{'{'}] name#[span.js-opr :] #[span.js-str 'Aperture Science Enrichment Center'] #[span.js-opr #{'}'}]
      #[span.js-obj Util]#[span.js-cmd .extend(#[span.js-arg #[span.js-obj TestSubject]#[span.js-opr ,] #[span.js-obj Person]])]; #[small.js-deemph #{'//'} extends `TestSubject` from `Person`]
      #[span.js-kwd var] you #[span.js-opr =] #[span.js-opr new] #[span.js-cmd TestSubject(#[span.js-arg #[span.js-str 'Chell']#[span.js-opr ,] #[span.js-cst true]])]; #[small.js-deemph #{'//'} creates an instance of `TestSubject`]
    #[span.js-cmd &lt;#{'/'}script&gt;]
